<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:rabbit="http://www.springframework.org/schema/rabbit" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/rabbit
    					http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">  
    <!-- 自动扫描 -->  
    <context:component-scan base-package="com.niuzhendong.rabbitmq" />  
  
    <!-- 创建连接类
    <bean id="connectionFactory"  class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">    
        <constructor-arg value="/" />    
        <property name="username" value="${rmq.manager.user}" />    
        <property name="password" value="${rmq.manager.password}" />   
        <property name="host" value="${rmq.ip}" />   
        <property name="port" value="${rmq.port}" />
        <property name="virtual-host" value="${rmq.vhost}" />
    </bean>
     -->    
     
    <rabbit:connection-factory id="connectionFactory" 
    	host="${rmq.ip}" 
    	username="${rmq.manager.user}" 
    	password="${rmq.manager.password}" 
    	port="${rmq.port}"/>
    	
    <rabbit:admin connection-factory="connectionFactory"/>
    
    <!-- spring template声明-->
    <rabbit:template exchange="amqpExchange" id="amqpTemplate"  connection-factory="connectionFactory"  message-converter="jsonMessageConverter" />

    
    <!-- 消息对象json转换类 -->
    <bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter" />  

	<rabbit:queue name="hello" durable="false" auto-delete="false" exclusive="false" />
	
	<!-- 交换机定义
	<rabbit:direct-exchange name="amqpExchange" durable="false" auto-delete="false" id="exchange">
	    <rabbit:bindings>
	        <rabbit:binding queue="test_queue_key" key="hello"/>
	    </rabbit:bindings>
    </rabbit:direct-exchange>
    -->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto">
    	<rabbit:listener queues="hello" ref="queueListenter"/>
	</rabbit:listener-container>
    
</beans>  